<div>
<%= render 'events/search' %>
</div>
<br>
<br>
<h3 align="center">Hosting Events</h3>
<table class="table table-striped margin_top">
  <tr>
    <th>Name</th>
    <th>Date</th>
    <th>Time</th>
  </tr>

  <% @user.created_events.each do |event| %>
    <tr>
      <td><%= event.name %></td>
      <td><%= event.start_date.strftime("%d %b %Y") %></td>
      <td><%= event.start_time.strftime("%I:%M %p") %></td>
    </tr>
  <% end %>
</table>
<br>
<% collection_attend = current_user.attend %>

<h3 align="center">Attending Events</h3>
<table class="table table-striped margin_top">
  <tr>
    <th>Name</th>
    <th>Date</th>
    <th>Time</th>
  </tr>
  
  <% collection_attend.each do |attendance| %>
    <% event = attendance.event %>
    <% if event.upcoming %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.start_date.strftime("%d %b %Y") %></td>
        <td><%= event.start_time.strftime("%I:%M %p") %></td>
      </tr>
    <% end %>
  <% end %>
</table>