<%= form_for(@event, html: { class: "form-horizontal"}) do |f| %>

  <%= render 'common/errors', obj: @event %>
  <div class="form-group">
    <%=f.label :name, class: "control-label col-md-2" do %>
      NAME:
    <% end %> 
    <div class="col-md-8"> 
      <%=f.text_field :name, class: "form-control",autofocus: true, placeholder: "Event Name" %>
    </div>
  </div>
  
  <div class="form-group">
    <%=f.label :venue, class: "control-label col-md-2" do %>
      VENUE:
    <% end %> 
    <div class="col-md-8"> 
      <%=f.text_area :venue, class: "form-control", placeholder: "Address" %>
    </div>
  </div>

  <div class="col-md-6 no-padding">
    <div class="form-group">
      <%=f.label :start_date, class: "control-label col-md-2 col-md-offset-2" do %>
      DATE:
      <% end %> 
      <div class="col-md-6"> 
        <%=f.date_field :start_date, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="col-md-6 no-padding left-padding">
    <div class="form-group">
      <%=f.label :start_time, class: "control-label col-md-2" do %>
      TIME:
      <% end %> 
      <div class="col-md-6"> 
        <%=f.time_field :start_time, class: "form-control" %>
      </div>
    </div>
  </div>

  <% if @event.new_record? %>
    <div class="form-group">
      <%= fields_for(@attendance) do |at| %>
        <%= at.label "Invite Your Pals:" %><br/>
        <%= collection_select(:users, :id, @friends, :id, :full_name, {},{ multiple: true })%>
      <% end %> 
    </div>
  <% end %>

  <div class="action">
    <%=f.submit class: "btn btn-info margin_bottom" %>
  </div>

  <div class="action">
    <%= link_to "Back", :back, class: "btn btn-info" %>
  </div>
<% end %>