<div class="row well" align="center"> 
  <h3>HOSTING EVENTS</h3>
  <hr>
  <% if current_user.created_events.oncoming.size > 0 %>
    <%= render current_user.created_events.oncoming %>
  <% else %>
    <div class='row col-md-10 col-md-offset-1'>
      <p class="leading">You are not hosting any event yet. Please do host some and have fun!</p>
    </div>
  <% end %>
</div>

<% collection_attend = current_user.attend %>
<% collection_invited = current_user.invited %>

<div class="row well" align="center" id="attending_list">  
  <h3>ATTENDING EVENTS</h3>
  <hr>
  <% if current_user.events.oncoming.size > 0 %>
    <% collection_attend.each do |attendance| %>
      <% event = attendance.event %>
      <% if event.upcoming %>
        <div class="row margin_bottom" id= "attend_events">
          <div class="col-md-6">
            <%= link_to event.name, event %>
          </div>
          <div class="col-md-4">
            <%= link_to "View", event, class: 'btn btn-info'%>
            <%= link_to "Decline", attendance_path(attendance), method: :delete, data: { confirm: "Don't want to attend this event?"}, class: 'btn btn-danger'%>            
          </div>
        </div>
      <% end %>
    <% end %>
  <%else%>
    <div class='row col-md-10 col-md-offset-1'>
      <p class="leading">You are not attending any event yet and missing fun. Please do join some events and enjoy with your friends and family!</p>
    </div>
  <%end%>
</div>

<div class="row well" align="center"> 
  <h3>HOSTED EVENTS</h3>
  <hr>
  <% if current_user.created_events.past.size > 0 %>
    <%= render current_user.created_events.past %>
  <% else %>
    <div class='row col-md-10 col-md-offset-1'>
      <p class="leading">You had not hosted any event. That's alright. Please do host some events in the future and have fun!</p>
    </div>
  <% end %>
</div>

<div class="row">
  <div class="well left" align="center">  
    <h3>ATTENDED EVENTS</h3>
    <hr>
    <% if current_user.events.past.size > 0 %>
      <% collection_attend.each do |attendance| %>
        <% event = attendance.event %>
        <% unless event.upcoming %>
          <div class="row margin_bottom">
            <div class="col-md-6">
              <%= link_to event.name, event %>
            </div>
            <div class="col-md-4">
              <%= link_to "View", event, class: 'btn btn-info'%>
            </div>
          </div>
        <% end %>
      <% end %>
    <%else%>
      <div class='row col-md-10 col-md-offset-1'>
        <p class="leading">You have not attended any event and missed fun. Please do join events and enjoy with your friends and family!</p>
      </div>
    <%end%>
  </div>

  <div class="well left" align="center">  
    <h3>INVITED EVENTS</h3>
    <hr>
    <% if collection_invited.size > 0 %>
      <% collection_invited.each do |attendance| %>
        <% event = attendance.event %>
        <% if event.upcoming %>
          <div class="row margin_bottom">
            <div class="col-md-4">
              <%= link_to event.name, event %>
            </div>
            <div class="col-md-8">
              <%= link_to "View", event, class: 'btn btn-info'%>
              <%= link_to "Accept", accept_attendance_path(id: Attendance.find_by_user_event(current_user, event)), method: :post, class: 'btn btn-success' %>
              <%= link_to "Decline", attendance_path(attendance), method: :delete,
                                 data: { confirm: "Don't want to attend this event?"},class: 'btn btn-danger' %>
            </div>
          </div>
        <% end %>
      <% end %>
    <%else%>
      <div class='row col-md-10 col-md-offset-1'>
        <p class="leading">You have not invited for any events. That's okay. Please do join some events and enjoy with your friends and family!</p>
      </div>
    <%end%>
  </div>
</div>