<%= render 'users/search' %>
<% if current_user.friendships.size > 0 || current_user.rev_friendships.size > 0 %>
  <table class="table table-striped" id="friendship_table">
    <thead>
      <tr>
        <th colspan="3" class="page-header"><h2>My Friends</h2></th>
      </tr>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      
      <% current_user.friendships.each do |friendship| %>
        <% if friendship.verified %>
          <% friend = friendship.friend %>
          <tr>
            <td><%= friend.full_name %></td>
            <td><%= friend.email %></td>
            <td><%= link_to "View", user_path(friend), class: "btn btn-info" %></td>
          </tr>
        <% end %>
      <% end %>

      <% current_user.rev_friendships.each do |friendship| %>
        <% if friendship.verified %>
          <% user = friendship.user %>
          <tr>
            <td><%= user.full_name %></td>
            <td><%= user.email %></td>
            <td><%= link_to "View", user_path(user), class: "btn btn-info" %></td>
          </tr>
        <% end %>
      <% end %>

      <% current_user.friendships.each do |friendship| %>
        <% if !friendship.verified %>
          <% friend = friendship.friend %>
          <tr>
            <td><%= friend.full_name %></td>
            <td><%= friend.email %></td>
            <td>
              <%= link_to "View", user_path(friend), class: "btn btn-info" %>
              <p class="btn btn-warning"> Friend Request Sent</p>
            </td>
          </tr>
        <% end %>
      <% end %>

      <% current_user.rev_friendships.each do |friendship| %>
        <% if !friendship.verified %>
          <% user = friendship.user %>
          <tr>
            <td><%= user.full_name %></td>
            <td><%= user.email %></td>
            <td>
              <%= link_to "View", user_path(user), class: "btn btn-info" %>
              <%= link_to "Accept", accept_friendship_path(id: friendship),
                                         method: :post, remote: true, class: 'btn btn-success', id: "accepting_friend_#{friendship.id}"%>
              <%= link_to "Decline", friendship_path(friendship), method: :delete,
                                    data: { confirm: "Are you sure?" }, remote: true,
                                    class: 'btn btn-danger', id: "declining_friend" %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class='well row col-md-12'>
    <p class="leading">You don't have any friends yet. Please add some!</p>
  </div>
<% end %>